.fa,.fab,.fal,.far,.fas{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1
}
.fa-lg{
    font-size:1.33333em;
    line-height:.75em;
    vertical-align:-.0667em
}
.fa-xs{
    font-size:.75em
}
.fa-sm{
    font-size:.875em
}
.fa-1x{
    font-size:1em
}
.fa-2x{
    font-size:2em
}
.fa-3x{
    font-size:3em
}
.fa-4x{
    font-size:4em
}
.fa-5x{
    font-size:5em
}
.fa-6x{
    font-size:6em
}
.fa-7x{
    font-size:7em
}
.fa-8x{
    font-size:8em
}
.fa-9x{
    font-size:9em
}
.fa-10x{
    font-size:10em
}
.fa-bars:before{
    content:"\f0c9"
}
.fa-search:before{
    content:"\f002"
}
.fa-instagram:before{
    content:"\f16d"
}
.fa-facebook-f:before{
    content:"\f39e"
}
.fa-linkedin-in:before{
    content:"\f0e1"
}
.fa-twitter:before{
    content:"\f099"
}
.fa-accessible-icon:before{
    content:"\f368"
}
.fa-user-alt:before{
    content:"\f406"
}
.fa-clock:before{
    content:"\f017"
}
.fa-map-marked-alt:before{
    content:"\f5a0"
}
.fa-business-time:before{
    content:"\f64a"
}
.fa-exclamation-circle:before{
    content:"\f06a"
}
.fa-bullhorn:before{
    content:"\f0a1"
}
