<form method="GET" action="/empregos">
    <div class="custom-search-input-2">
        <div class="form-group">
            <input class="form-control" type="text" name="vaga"
                    placeholder="Ex. Administrativo" aria-label="Pesquisar emprego">
            <i class="fa fa-search"></i>
        </div>
        <div class="form-group">
            <select class="form-control" name="cidade">
              <option value="todas" selected>Campinas e região</option>
              <option value="Americana">Americana</option>
              <option value="Artur Nogueira">Artur Nogueira</option>
              <option value="Barueri">Barueri</option>
              <option value="Campinas">Campinas</option>
              <option value="Cosmópolis">Cosmópolis</option>
              <option value="Engenheiro Coelho">Engenheiro Coelho</option>
              <option value="Holambra">Holambra</option>
              <option value="Hortolândia">Hortolândia</option>
              <option value="Indaiatuba">Indaiatuba</option>
              <option value="Itatiba">Itatiba</option>
              <option value="Jaguariúna">Jaguariúna</option>
              <option value="Monte Mor">Monte Mor</option>
              <option value="Morungaba">Morungaba</option>
              <option value="Nova Odessa">Nova Odessa</option>
              <option value="Paulínia">Paulínia</option>
              <option value="Pedreira">Pedreira</option>
              <option value="Piracicaba">Piracicaba</option>
              <option value="Santa Bárbara d'Oeste">Santa Bárbara d'Oeste</option>
              <option value="Santo Antônio de Posse">Santo Antônio de Posse</option>
              <option value="Sumaré">Sumaré</option>
              <option value="São Paulo">São Paulo</option>
              <option value="Valinhos">Valinhos</option>
              <option value="Vinhedo">Vinhedo</option>
            </select>
        </div>
        <input type="submit" value="Buscar">
    </div>
</form>